*{
    margin: 0;
    padding: 0;
}
html{
    font-size: 10px;
}
.container{
    background-color: rgb(198, 253, 253);
    min-width: 90vw;
    min-height: 100vh;
    position: relative;
}

i{
    font-size: 1.4rem;
    width: 300px;
    height: 200px;
    background-color: rgb(176, 176, 248);
    position: absolute;
    top: 0  ;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 450;

}